{{define "title"}}{{.Artist.Name}}{{end}}

{{define "content"}}
  <div id="artistDetails">
    <h1>{{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
    
    <h2>Membres:</h2>
    <ul>{{range .Artist.Members}}<li>{{.}}</li>{{end}}</ul>
    
    <h2>Dates:</h2>
    <ul>{{range .Dates}}<li>{{.}}</li>{{end}}</ul>
    
    <h2>Locations:</h2>
    <ul>{{range .Locations}}<li>{{.}}</li>{{end}}</ul>
    
    <a href="/" class="back-link">← Retour</a>
  </div>

  <script src="/static/test_search bar.js"></script>
{{end}}